// COLOR PALETTE
$mainClr: #f0811f;
$navBg: #f9f9f9;
$white: #ffffff;
$whiteTransp: rgba(255, 255, 255, .8);
$black: #000000;
$grey: #666666;
$greyLight: #d8d4d5;
$greyLighter: #f1eeef;
$darkBlue: #2d498c;

// Font Types
@font-face {
  font-family: 'Open Sans', sans-serif;
}
$mainFnt: 'Open Sans', sans-serif;
